<div class="container" id="education-section-grid">
    <div class="row">
        <!-- Left Section Card-->
        <div class="col">
            <div class="card" style="width: auto;">
                <div class="card-body">
                    
                        <div class="row" *ngFor="let hobbiesArray of hobbies" >
                            <div class="col-md" *ngFor="let hobby of hobbiesArray">
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-3" style="padding: 0 16px;">
                                        <img style="width:48px;" src={{hobby.image}}/>
                                    </div>
                                    <div class="col-9">
                                        <h5>{{hobby.title}}</h5>
                                    </div>
                                </div> 
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- Right Section Card-->
    </div>
</div>