
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Personal Website</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body  (window:resize)="onResize($event)">
  <!--     Navbar Starting    -->
  <div class="container-fullwidth">
    <nav class="navbar navbar-expand-lg navbar-light bg-none fixed-top" style="flex-wrap: wrap; background-color: #4a8db4;" id="top-navbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="nav navbar-nav">
          <li class="nav-item" *ngFor="let navbarItem of navbarItemsLeft">
            <a class="nav-link nav-bar-text" href={{navbarItem.link}}><b>{{navbarItem.title}}</b></a>
          </li>
        </ul>
      </div>
      <div class="justify-content-end" id="socialMediaMenu">
        <ul class="nav nav-pills nav-fill" id="socialMediaLinks">
          <!-- <li class="nav-item" >
            <a class="nav-link nav-bar-text" href="/blog">Blog</a>
          </li> -->
          <li class="nav-item">
            <a href="https://github.com/yash-patel-98" target="_blank">
              <img src="../assets/images/social-media/GitHub-Mark-64px.png" class="social-media-icons" >
            </a> 
            <a href="https://www.instagram.com/yash.patel.98" target="_blank">
              <img src="../assets/images/social-media/iconfinder_Instagram_glyph_svg_5335781.svg" class="social-media-icons" >
            </a>
            <a href="https://www.linkedin.com/in/yashbpatel98/" target="_blank">
              <img src="../assets/images/social-media/iconfinder_BW_Linkedin_glyph_svg_5305157.svg" class="social-media-icons" >
            </a> 
            <a href = "mailto: yashpatel.dev@gmail.com" target="_blank">
              <img src="../assets/images/social-media/mail-24px.svg" class="social-media-icons">
            </a>
          </li>
        </ul>
      </div>
      <!--<div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
      </div>-->
    </nav>
  </div>
  <!--   Navbar End   -->
  <!--   JumboTron Start   -->
  <div class="jumbotron jumbotron-fluid text-center" id="about-me-section">
    <div id="name-div" class="typewriter container-fullwidth">
      <h2>Hi, I am Yash.</h2>
    </div>
    <div class="container-fullwidth" id="display-picture-div">
      <img src="../assets/images/ME/IMG_Yash_Suit.jpg " id="personal-display-picture">
    </div>
    <div id="brief-about-me">
      <p> A Computer Science and Engineering graduate with interest in various technologies like<br/> Data Science, Web Development, Quantum Computing and more.
        <!-- <br/>I like to learn and implement new technologies and build amazing applications. -->
      </p>
    </div>
    <div class="container-fullwidth" id="scroll-down-arrow">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div><span class="text">Scroll Down to know more</span></div>
    </div>
  </div>
  <!--   JumboTron End  -->


  <!-- Education Section Start -->
  <div class="resume-contents container-fullwidth">
    <div id="eduction-section">
        <h2><img src="../assets/images/resume/education.svg" class="resume-section-image"> Education </h2>  
    </div>
    <!-- 2x2 Grid for education contents-->
    <div class="container" id="education-section-grid">
      <div class="row">
        <!-- Left Section Card-->
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2 justify-content-center">
                  <img src="../assets/images/manipal-university-jaipur-logo-11-237x300.png" style="height: 200px; justify-self: center;" />
                </div>
                <div class="col-md-10">
                  <h5 class="card-title"> Manipal University Jaipur</h5>
                  <p class="card-text">
                    <b>Duration - </b><em>08/2016 - 05/2020</em>
                    <br/><b>B-Tech in Computer Science and Engineering</b><br/><b>CGPA - 8.95</b>
                    <br/><b>Project :- </b>Gait recognition for human identification using Convolutional Neural Networks      
                  </p>
                </div>  
              </div>
            </div>
        </div>
        </div>
        <!-- Right Section Card-->
      </div>
    </div>
  </div>
  <!-- Education Section End -->

  <!-- Work Experience Section Start -->
  <div class="resume-contents container-fullwidth">
    <div id="work-experience-section">
        <h2><img src="../assets/images/resume/briefcase.svg" class="resume-section-image"> Experience </h2>  
    </div>
    <!-- 2x2 Grid for education contents-->
    <div class="container flex-container" id="education-section-grid">
      <div class="row" *ngFor="let experience of experiences" style="margin-top:10px">
        <div class="col">
          <div class="card cardrow" style="width: auto;height: auto">
            <div class="card-body">
              <div class="container">
                <div class="row justify-content-center" >
                  <div class="col-md-3">
                    <img src={{experience.imgSrc}} style={{experience.styleImg}} />
                  </div>
                  <div class="col-md-9">
                    <h5 class="card-title" > {{experience.companyName}}</h5>
                    <p >
                      <b>Duration - </b><em>{{experience.duration}}</em><br/>
                      <b>Role - </b> {{experience.role}}<br/>
                        <b *ngIf="experience.projectTitle != ''">Project Title - </b> {{experience.projectTitle}} <br/>
                        <b *ngIf="experience.task != ''">Task - </b>{{experience.task}}
                        <b *ngIf="experience.url.length != 0">Url - </b>
                    </p>
                    <ul *ngIf="experience.url.length != 0" style="margin-left: 50px;">
                      <li *ngFor="let linker of experience.url">
                        <a href={{linker.link}}>{{linker.title}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>  
  </div>
  <!-- Work Experience Section End -->

  <!--Skills Section Start-->
  <div class="resume-contents container-fullwidth">
    <div id="skills-section">
        <h2><img src="../assets/images/resume/logical-thinking.svg" class="resume-section-image"> Skills </h2>  
    </div>
    <!-- 2x2 Grid for education contents-->
    <div class="container" id="education-section-grid">
      <div class="row ">
        <!-- Left Section Card-->
        <div class=" col-md">
          <div class="card" style="width: auto;">
            <div class="card-body">
              <div class="container">
                <div class="row" *ngFor="let skillArray of skills">
                  <div class="skillscol col-md" *ngFor="let skill of skillArray">
                    <b>{{skill.name}}</b>
                    <div class="progress">
                      <div class="progress-bar progress-bar-orange" role="progressbar" style={{skill.style}} aria-valuenow={{skill.valuenow}} aria-valuemin={{skill.valuemin}} aria-valuemax={{skill.valuemax}}></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
        <!-- Right Section Card-->
      </div>
    </div>
  </div>
  <!--Skills Section End-->
  <!-- Certification Section Start -->
  <div class="resume-contents">
    <div id="certificates-section">
        <h2><img src="../assets/images/resume/certificate.svg" class="resume-section-image"> Certifcations </h2>  
    </div>
    <!-- 2x2 Grid for education contents-->
    <app-certificates-section></app-certificates-section>
  </div>
  <!-- Certification Section End -->
  <div class="resume-contents">
    <div id="hobbies-section">
        <h2><img src="../assets/images/resume/jigsaw.svg" class="resume-section-image"> Hobbies </h2>  
    </div>
    <!-- 2x2 Grid for education contents-->
    <app-hobbies-section></app-hobbies-section>
  </div>
  <div class="resume-contents">
    <div id="projects-section">
        <h2><img src="../assets/images/resume/projects.svg" class="resume-section-image"> Projects </h2>  
    </div>
    <!-- 2x2 Grid for education contents-->
    <p> Coming Soon ... :)</p>
  </div>
</body>
</html>
