
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Personal Website</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <!--     Navbar Starting    -->
  <div class="container-fullwidth">
    <nav class="navbar navbar-expand-lg navbar-light bg-none navbar-default fixed-top" style="flex-wrap: wrap;">
      <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item active">
            <a class="nav-link nav-bar-text" href="/">About Me <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-bar-text" href="/blog">Blog</a>
          </li>
        </ul>
      </div>
      <div class="justify-content-end" id="socialMediaMenu">
        <ul class="nav nav-pills nav-fill" id="socialMediaLinks">
          <li class="nav-item">
            <a href="https://github.com/yash-patel-98" target="_blank">
              <img src="../assets/images/social-media/GitHub-Mark-64px.png" class="social-media-icons" >
            </a> 
            <a href="https://www.instagram.com/yash.patel.98" target="_blank">
              <img src="../assets/images/social-media/iconfinder_Instagram_glyph_svg_5335781.svg" class="social-media-icons" >
            </a>
            <a href="https://www.linkedin.com/in/yashbpatel98/" target="_blank">
              <img src="../assets/images/social-media/iconfinder_BW_Linkedin_glyph_svg_5305157.svg" class="social-media-icons" >
            </a> 
            <a href = "mailto: yashpatel.dev@gmail.com" target="_blank">
              <img src="../assets/images/social-media/mail-24px.svg" class="social-media-icons">
            </a>
          </li>
        </ul>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
      </div>
    </nav>
  </div>
  <!--   Navbar End   -->
  <!--   JumboTron Start   -->
  <div class="jumbotron jumbotron-fluid text-center">
    <div id="name-div" class="typewriter">
      <h2>Hi, I am Yash Patel.</h2>
    </div>
    <div class="container" id="display-picture-div">
      <img src="../assets/images/ME/IMG_Yash_Casual.jpg " id="personal-display-picture">
    </div>
    <div id="brief-about-me">
      <p> A Computer Science and Engineering graduate with interest in various technologies like Data Science, Web Development, Quantum Computing and more.</p>
    </div>
    <div class="container-fullwidth" id="scroll-down-arrow">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div><span class="text">Scroll Down to know more</span></div>
    </div>
  </div>
  <!--   JumboTron End  -->
  <div>
    <h1>SAMPLE HEADING</h1>
    <h1>asdasdasdas dasd asda sd asd a<br>asdadasdasd</h1>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
  </div>
</body>
</html>
