html {
    scroll-behavior: smooth;
    overflow:auto;
}
body{
    position: absolute;
    top: 60px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    padding: 30px; 
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:orange; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: orange; 
}

#personal-display-picture{
    border-radius: 50%;
    width: 200px;
}
.social-media-icons{
    width: 30px;
    margin-left: 16px;
    
}
.nav-bar-text{
    font-size: 24px;
    color: #000000
}
.center-img {
    margin: auto;
    padding: 10px;
}
.jumbotron{
    background-color:transparent !important;
    top: -30px;
}
#name-div{
    display: inline-block;
    
}
.typewriter h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }  
}
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}
#display-picture-div{
    margin-top: 32px;

}
#socialMediaMenu{
    padding: 8px;
    margin-right: 12px;
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: normal;
}
#brief-about-me{
    margin-top: 64px;
}
.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 1;
    color: #000;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    align-items: flex-end;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    /* background: #2c3e50; */
    background: orange;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
    background: orange;
}

@keyframes move {
    25% {
    opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
    opacity: 1;
    transform: translateY(40px);
    }
    100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}
.text {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 1;
    margin-top: 100px;
    margin-bottom: 10px;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}
#scroll-down-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    align-items: flex-end;
}
