<div class="container" id="education-section-grid">
    <div class="row">
        <!-- Left Section Card-->
        <div class="col-md">
            <div class="card" style="width: auto">
                <div class="card-body">
                        <div class="row" *ngFor="let certificateArray of certificates">
                            <div class="col-md" *ngFor="let certificate of certificateArray">
                                <div class="container">
                                    <div class="row" style="margin-top:10px ;">
                                        <div class="col-md">
                                            <div class="card" style="width: auto">
                                                <div class="card-body">
                                                    <table>
                                                        <tr>
                                                            <td style="padding: 0 10px">
                                                                <img src="{{ certificate.image }}"
                                                                    style="width: 64px" />
                                                            </td>
                                                            <td>
                                                                <h5>{{ certificate.title }}</h5>
                                                                <a href="{{ certificate.link }}" target="_blank">
                                                                    Certificate Link</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- Right Section Card-->
    </div>
</div>